node_modules
dist
*.local
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform/terraform.tfvars
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
